{% extends "templates/GASPI/GASPI-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}


{% block main %}

  if (rank == 0) {
{%- if op1.name in ['write', 'write2'] or op2.name in ['write', 'write2']%}
     localbuf[0] = 1;
{%- endif %}
{%- if race %}
        // CONFLICT
        {{ op1.code }}
        // CONFLICT
        {{ op2.code }}
{%- else %}
        {{ op1.code }}
        {{ op2.code }}
{%- endif %}
{%- if op1.name in ['write', 'write2', 'read'] or op2.name in ['write', 'write2', 'read'] %}
     gaspi_wait(queue_id, GASPI_BLOCK);
{%- endif %}
  }

  // ensure synchronization between both ranks by using notifications
  // to avoid race with printf statement (gaspi_barrier is not enough
  // in some cases), both ranks send a notification to the other rank
  // and wait for the notification from the other rank.
  gaspi_notify(remote_seg_id, (rank + 1) % {{nprocs}}, 42, 1, queue_id, GASPI_BLOCK);
  gaspi_notification_id_t firstId;
  gaspi_notify_waitsome(remote_seg_id, 42, 1, &firstId, GASPI_BLOCK);

{% endblock main %}