{% extends "templates/GASPI/GASPI-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}


{% block main %}

  if (rank == 0) {
{%- if op1.name in ['write', 'write2'] or op2.name in ['write', 'write2']%}
     localbuf[0] = 1;
{%- endif %}
{%- if race %}
     // CONFLICT
{%- endif %}
     {{ op1.code }}
     gaspi_wait(queue_id, GASPI_BLOCK);
  }

{% if op1.name in ['store', 'load'] or op2.name in ['store', 'load'] %}
    if (rank == 1) {
{%- else %}
    if (rank == 2) {
        localbuf[0] = 42;
{%- endif %}
        {%- if race %}
        // CONFLICT
        {%- endif %}
        {{ op2.code }}
{% if op1.name in ['write', 'read'] or op2.name in ['write', 'read'] %}
        gaspi_wait(queue_id, GASPI_BLOCK);
{%- endif %}
    }

{% endblock main %}