{% extends "templates/SHMEM/shmem-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}

{% block main %}
    shmem_barrier_all();

    if( my_pe == 0 )
    {
        {{ op1.code }}
        {{ op2.code }}
    }

    shmem_barrier_all();

    printf( "PE %d: localbuf = %d, remote = %d, \n", my_pe, localbuf, remote );

{% endblock main %}

// 
