{% extends "templates/GASPI/GASPI-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}

{%- block additional_declarations %}

__attribute__((noinline)) int* aliasgenerator(int** x) {
    return *x;
}

{% endblock additional_declarations %}

{% block main %}

    int* localbuf_alias;
    int* remote_data_alias;

    localbuf_alias = aliasgenerator(&localbuf);
    remote_data_alias = aliasgenerator(&remote_data);

    if (rank == 0) {
        {%- if race %}
        /* conflicting {{ op1.name }} and {{ op2.name }} */
        // CONFLICT
        {%- endif %}
        {{ op1.code }}
        {%- if race %}
        // CONFLICT
        {%- endif %}
        {{ op2.code }}
    }

{% endblock main %}
