{% extends "templates/MPIRMA/MPI-boilerplate.c.j2" %}

{%- block race_labels %}
// RACE LABELS BEGIN
/*
{
    "RACE_KIND": "local",
    "ACCESS_SET": ["rma read","load"],
    "RACE_PAIR": ["MPI_Get@{race_loc1}","LOAD@{race_loc2}"],
    "CONSISTENCY_CALLS": ["MPI_Win_lock","MPI_Win_unlock"],
    "SYNC_CALLS": ["MPI_Barrier"],
    "NPROCS": 2,
    "DESCRIPTION": "Two conflicting operations MPI_Get and a local load with missing synchronization at process 0. Since sections are run in parallel the second section may access the window during the access epoch for MPI_Get."
}
*/
// RACE LABELS END
{%- endblock race_labels %}

{% block preamble %}
{% endblock preamble %}

{% block main %}



    MPI_Barrier(MPI_COMM_WORLD);

    if (rank == 0) {
        #pragma omp parallel num_threads(2)
        {
            #pragma omp sections
            {
                #pragma omp section
                {
                    MPI_Win_lock(MPI_LOCK_EXCLUSIVE, 1, 0, win);
                    // CONFLICT
                    MPI_Get(&win_base[0], 1, MPI_INT, 1, 0, 1, MPI_INT, win);
                    MPI_Win_unlock(1, win);
                }
            
                #pragma omp section
                {
                    // CONFLICT
                    printf("win_base[0] is %d\n", win_base[0]);
                }
            }
        }
        MPI_Barrier(MPI_COMM_WORLD);
    }

    if (rank == 1) {
        MPI_Barrier(MPI_COMM_WORLD);
        printf("win_base[0] is %d\n", win_base[0]);
    }

    

{% endblock main %}