{% extends "templates/GASPI/GASPI-boilerplate.c.j2" %}

{%- block race_labels %}
// RACE LABELS BEGIN
/*
{
    "RACE_KIND": "none",
    "CONSISTENCY_CALLS": ["gaspi_wait","gaspi_notify_waitsome"],
    "SYNC_CALLS": ["gaspi_notify_waitsome"],
    "NPROCS": 2,
    "DESCRIPTION": "Two conflicting operations gaspi_write_notify and a local read with synchronization at process 1. The OpenMP barrier enforces that all threads of the target synchronize with the origin."
}
*/
// RACE LABELS END
{%- endblock race_labels %}

{% block preamble %}
{% endblock preamble %}

{% block main %}

    if (rank == 0) {
        gaspi_write_notify(loc_seg_id, 0, 1, remote_seg_id, 0, sizeof(int), 0, 1, queue_id, GASPI_BLOCK);
        gaspi_wait(queue_id, GASPI_BLOCK);
    }

    if (rank == 1) {
        #pragma omp parallel num_threads(2)
        {
            #pragma omp master
            {
                gaspi_notification_id_t firstId;
                gaspi_notify_waitsome(remote_seg_id, 0, 1, &firstId, GASPI_BLOCK);
            }
            #pragma omp barrier
            printf("remote_data[0] is %d\n", remote_data[0]);
    }

    }

{% endblock main %}