{% extends "templates/SHMEM/shmem-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}

{%- block additional_declarations %}
#include <string.h>
{% endblock additional_declarations %}

{% block main %}

    shmem_barrier_all();

    int* rem_ptr = &remote;
    int* lbuf_ptr = &localbuf;
    int* rem_ptr_alias;
    int* lbuf_ptr_alias;

    memcpy(&rem_ptr_alias, &rem_ptr, sizeof(int*));
    memcpy(&lbuf_ptr_alias, &lbuf_ptr, sizeof(int*));

    if (my_pe == 0) {
        {%- if race %}
        /* conflicting {{ op1.name }} and {{ op2.name }} */
        // CONFLICT
        {%- endif %}
        {{ replace_with_aliases(op1) }}
        {%- if race %}
        // CONFLICT
        {%- endif %}
        {{ replace_with_aliases(op2) }}
    }

{% endblock main %}
