{% extends "templates/SHMEM/shmem-boilerplate.c.j2" %}

{% block preamble %}
{% endblock preamble %}

{%- block additional_declarations %}

__attribute__((noinline)) void aliasgenerator(int** x, int** y) {
    *y = *x;
}

{% endblock additional_declarations %}

{% block main %}

    shmem_barrier_all();

    int* rem_ptr = &remote;
    int* lbuf_ptr = &localbuf;
    int* rem_ptr_alias;
    int* lbuf_ptr_alias;

    aliasgenerator(&rem_ptr, &rem_ptr_alias);
    aliasgenerator(&lbuf_ptr, &lbuf_ptr_alias);

    if (my_pe == 0) {
        {%- if race %}
        /* conflicting {{ op1.name }} and {{ op2.name }} */
        // CONFLICT
        {%- endif %}
        {{ replace_with_aliases(op1) }}
    } else {
        {%- if race %}
        // CONFLICT
        {%- endif %}
        {{ replace_with_aliases(op2) }}
    }

    shmem_barrier_all();

{% endblock main %}
